.git
.github
.gitignore
.gitattributes
.editorconfig
README.md
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.example
.phpunit.result.cache
phpunit.xml
tests
*.log
.DS_Store
Thumbs.db
